.ImageCentral {
    width: 100%;
}
.logo {
    position: absolute;
    left: 33%;
}

.contenair-pokeball {
    position: absolute;
    bottom: 27%;
    left: 42%;
    z-index: 9999;
}


img.contenair-pokeball {
    width: 15%;
}

.poulet {
    width: 85%;
    position: absolute;
    top: -90%;
    right: 7%;
    z-index: 100000;
    /* animation: shimmy 5s; */
    /* animation-direction: alternate; */
}

.onClickAnim {
    animation: shimmy 5s;  
}

@keyframes shimmy {
    0% {
        transform: translateY(0);    
    }
    100% {
        transform: translateY(2000px);
    }
  }

  .fusionNoShow {
      opacity: 0;
  }

  .fusionVisible {
    position: absolute;
    top: 44%;
    z-index: 20000;
    left: 42%;
    opacity: 1;
}

.Connexion {
    position: absolute;
    right: 1%;
    background-color:#E34138;
     -moz-border-radius:28px;
     -webkit-border-radius:28px;
     border-radius:28px;
     border:1px solid #18ab29;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:17px;
     padding:16px 31px;
     text-decoration:none;
     text-shadow:0px 1px 0px #2f6627;
 }
 
 .Connexion a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.Connexion a:hover {
    color: red;
}

.contenair-poney {
    width: 10%;
    position: absolute;
    top: 100%;
    right: 89%;

}


/* .Connexion a:hover {
    color:lightgray;
 } */