.ImageCentral {
    width: 100%;
}
.logo {
    position: absolute;
    left: 30%;
}

.contenair-pokeball {
    position: absolute;
    bottom: 27%;
    left: 42%;
}


img.contenair-pokeball {
    width: 15%;
}